/* Text */
h1,h2,h3,h4,h5,h6,p,a{
  color: #fff;
}
h1 {
  font-family: 'Coiny', cursive;
  
}
h2 {
  font-family: 'Rum Raisin', sans-serif;  
  position: relative;
  color: #fff;
  font-size: 10px;
  text-align: center;}

h3 {
	font-family: 'Arima Madurai', cursive;
}
h4 {
  font-family:'Baskerville', serif;
  font-size: 30px;
}
h5 {
  font-family: 'Atma', cursive;
}
h6 {
	font-family: 'Roboto', sans-serif;
}
p {
  font-family: 'Handlee', cursive;
  font-size: 12px;
}
  
a {
  font-family: 'Playfair Display', serif;
}
 /* HORIZONTAL SCROLL */ 
 .panel{
  display:block;
  width:100%;
  border-radius:5px;
  height:300px;
  margin-top:10px;
  margin-bottom:10px;
  text-align: center;
  background-color:rgba(0,0,0,0.3);
}
.scroll-container{
  overflow: auto;
  white-space: nowrap;
}
.gridd{
  width:300px;
  height:300px;
  /* background-color:#f13b7e; */
  border-radius:7px;
  display:inline-block;
  margin-right:10px;
}
/*  */
.imgs{
max-width: 600px;
}
button {
  background: #3a3a3a;
  border: 0;
  border-radius: 4px;
  padding: 9px 9px;
  font-size: 10px;
  color: #FFFFFF;
  cursor: pointer;
  height: 30px;
  width: 30px;
}
button:focus {
  outline: none;
}
button:hover {
  background: #c0e4eb;
}

.popup {
  background: rgba(100, 100, 100, 0.5);
  position: fixed;
  display: none;
  z-index: 5000;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.popup > div {
  max-width: 600px;
  width: 70%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background: #000;
  padding: 30px;
  z-index: 5001;
  text-align: center;
  border: 5px solid #9AD3DE;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}
/* Skeleton */
.section {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  letter-spacing: 4px;
  overflow: hidden;
  clip: rect(0, auto, auto, 0);
}
.section .fixed {
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
}
.section .white {
  color: #fff;
}

.section:nth-child(1) {
  /* background-color: #fff; */
  color: #fff;
  top: 0;
  z-index: 1;
}
.section:nth-child(1) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(2) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  /* background-color: #c2850a; */
  color: #fff;
  top: 100vh;
  z-index: 2;
}
.section:nth-child(2) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(3) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  /* background-color: #0a0ac2; */
  color: #fff;
  top: 200vh;
  z-index: 3;
}
.section:nth-child(3) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(4) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  /* background-color: #85c20a; */
  color: #fff;
  top: 300vh;
  z-index: 4;
}
.section:nth-child(4) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

 .section:nth-child(5) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  /* background-image: url(imgs/moetpalace.png); */
  color: #fff;
  top: 400vh;
  z-index: 5;
}
.section:nth-child(5) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(6) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  /* background-image: url(imgs/memoRoom.png); */
  color: #fff;
  top: 500vh;
  z-index: 6;
}
.section:nth-child(6) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*.section:nth-child(7) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #c20a85;
  color: #fff;
  top: 600vh;
  z-index: 7;
}
.section:nth-child(7) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(8) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #0ac285;
  color: #fff;
  top: 700vh;
  z-index: 8;
}
.section:nth-child(8) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(9) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #c20a0a;
  color: #fff;
  top: 800vh;
  z-index: 9;
}
.section:nth-child(9) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
} */

.section:nth-child(10) {
  background-color: #000;
  color: #fff;
  top: 900vh;
  z-index: 10;
}
.section:nth-child(10) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/* HORIZONTAL SCROLL */
.panel{
  display:block;
  width:100%;
  border-radius:5px;
  height:100px;
  margin-top:10px;
  margin-bottom:10px;
  text-align: center;
  background-color:rgba(0,0,0,0.3);
}
.scroll-container{
  overflow: auto;
  white-space: nowrap;
}
.grid{
  width:300px;
  height:300px;
  /* background-color:#09aadf; */
  border-radius:7px;
  display:inline-block;
  margin-right:10px;
  text-align: center;
}
/* gridtabs */
.et-hero-tabs,
.et-slide {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 100vh;
  position: relative;
  background:rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 0 2em;
}
.et-hero-tabs h1,
.et-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
.et-hero-tabs h3,
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.et-hero-tabs-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}
.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-flex: 1;
          flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}
.et-hero-tab:hover {
  color: white;
  background: rgba(102, 177, 241, 0.8);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66B1F1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

@media (min-width: 800px) {
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 3rem;
  }
  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
  }

  .et-hero-tab {
    font-size: 1rem;
  }
}
/* Gridtabs End */

/* ShowSlide */
.Marquee {
    background: -webkit-linear-gradient(225deg, #008ed9, #8b00db);
    background: -moz-linear-gradient(225deg, #008ed9, #8b00db);
    background: -o-linear-gradient(225deg, #008ed9, #8b00db);
    background: -ms-linear-gradient(225deg, #008ed9, #8b00db);
    background: linear-gradient(-135deg, #008ed9, #8b00db);
    width: 85vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    color: #fff;
    font-weight: 200;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
  }
  .Marquee-content {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-animation: marquee 20s linear infinite running;
    -moz-animation: marquee 20s linear infinite running;
    -o-animation: marquee 20s linear infinite running;
    -ms-animation: marquee 20s linear infinite running;
    animation: marquee 20s linear infinite running;
  }
  .Marquee-content:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    -ms-animation-play-state: paused;
    animation-play-state: paused;
  }
  .Marquee-tag {
    width: 200px;
    margin: 0 0.5em;
    padding: 0.5em;
    background: rgba(255,255,255,0.1);
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .Marquee-tag:hover {
    background: rgba(255,255,255,0.5);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
  }
  @-moz-keyframes marquee {
    0% {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translate(-50%);
      -moz-transform: translate(-50%);
      -o-transform: translate(-50%);
      -ms-transform: translate(-50%);
      transform: translate(-50%);
    }
  }
  @-webkit-keyframes marquee {
    0% {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translate(-50%);
      -moz-transform: translate(-50%);
      -o-transform: translate(-50%);
      -ms-transform: translate(-50%);
      transform: translate(-50%);
    }
  }
  @-o-keyframes marquee {
    0% {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translate(-50%);
      -moz-transform: translate(-50%);
      -o-transform: translate(-50%);
      -ms-transform: translate(-50%);
      transform: translate(-50%);
    }
  }
  @keyframes marquee {
    0% {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translate(-50%);
      -moz-transform: translate(-50%);
      -o-transform: translate(-50%);
      -ms-transform: translate(-50%);
      transform: translate(-50%);
    }
  }
  /* Showslide End */

/* ParticleNav */
.particle-network-animation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    /* background-color: rgba(51, 121, 270, 0.5); */
  }
  .particle-network-animation::before {
    z-index: -2;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("");
    background-position: center;
    background-size: cover;
    opacity: 0.2;
  }
  
  .glow {
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    background-image: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.025), rgba(0, 0, 0, 0));
  }
  
  .glow-1 {
    width: 150vw;
    height: 150vh;
    margin-top: -75vh;
    margin-left: -75vw;
    animation: glow-1-move 25s linear infinite both;
  }
  
  @keyframes glow-1-move {
    from {
      transform: translate(-100%, 100%);
    }
    to {
      transform: translate(100%, -100%);
    }
  }
  .glow-2 {
    width: 100vw;
    height: 100vh;
    margin-top: -50vh;
    margin-left: -50vw;
    animation: glow-2-move 25s linear 8.33333s infinite both;
  }
  
  @keyframes glow-2-move {
    from {
      transform: translate(-100%, 0%);
    }
    to {
      transform: translate(100%, 100%);
    }
  }
  .glow-3 {
    width: 120vw;
    height: 120vh;
    margin-top: -60vh;
    margin-left: -60vw;
    animation: glow-3-move 25s linear 16.66667s infinite both;
  }
  
  @keyframes glow-3-move {
    from {
      transform: translate(100%, 100%);
    }
    to {
      transform: translate(0%, -100%);
    }
  }
  /*End ParticleNav*/